#Forrest generates UTF-8 by default, but these httpd servers are
#ignoring the meta http-equiv charset tags
AddDefaultCharset off
RedirectMatch Permanent ^/solr/docs(.*) http://lucene.apache.org/solr$1
