#set($docId = $doc.getFirstValue($request.schema.uniqueKeyField.name))


<div class="result-document">

  <table>
    #foreach( $fieldName in $doc.fieldNames )
        <tr>
          <th align="right" valign="top" style="field-name">
            $esc.html($fieldName):
          </th>

          <td align="left" valign="top">
            #field($fieldName)
          </td>
        </tr>
    #end
  </table>

  #if($debug)
    <a href="#" onclick='jQuery(this).siblings("pre").toggle(); return false;'>toggle explain</a>

    <pre style="display:none">
      $response.getExplainMap().get($docId)
    </pre>
  #end
</div>
