module {
   display:block
   content: attr(name);
}

description
{   display:block; 
    text-align: justify; 
    font-weight:plain;
    padding: 0px;
    background-color: #414681; 
    color: #ffffff; 
    margin: 5px 0px 5px 0px; 
    font-size: 12px; 
    font-family: Verdana, Arial, Helvetica, sans-serif
}

detailed, why, todo, changes, project, package
{   display:block; 
    text-align: justify; 
    font-weight:plain;
    padding: 0px;
    background-color: #cfcdc6; 
    color: #000000; 
    margin: 5px 0px 5px 0px; 
    font-size: 12px; 
    font-family: Verdana, Arial, Helvetica, sans-serif
}

what {display:block; 
      list-style-type:disc;
      text-align: left; 
      font-weight:plain;
      padding: 0px;
      background-color: #FFFFFF; 
      color: #000000; 
      margin: 0px 0px 0px 40px; 
      font-size: 12px; 
      font-family: Verdana, Arial, Helvetica, sans-serif
    }
    
goal {display:list-item;   font-weight:plain;}


actions {
    display:block; 
    list-style-type:decimal; 
    counter-reset: item;
    text-align: left; 
    font-weight:plain;
    padding: 0px;
    background-color: #ffe3a6; 
    color: #000000; 
    margin: 0px 0px 0px 40px; 
    font-size: 12px; 
    font-family: Verdana, Arial, Helvetica, sans-serif
  }


release {
    display:block; 
    list-style-type:decimal; 
    counter-reset: item;
    text-align: left; 
    font-weight:plain;
    padding: 0px;
    background-color: #b6aaff; 
    color: #000000; 
    margin: 0px 0px 0px 40px; 
    font-size: 12px; 
    font-family: Verdana, Arial, Helvetica, sans-serif
  }
  
action {display:list-item; }

release {display:block; margin-left:40px;
  list-style-type:decimal; counter-reset: item;}


licence {  display:block; 
    text-align: left; 
    font-weight:bold;
    font-style:italic;
    padding: 0px;
    background-color: #ffffff; 
    color: #000000; 
    margin: 5px 0px 5px 0px; 
    font-size: 12px; 
    font-family: Verdana, Arial, Helvetica, sans-serif
    }
credits {  display:block; 
    text-align: left; 
    font-weight:bold;
    padding: 0px;
    background-color: #FFFFFF; 
    color: #000000; 
    margin: 5px 0px 5px 0px; 
    font-size: 12px; 
    font-family: Verdana, Arial, Helvetica, sans-serif
    }
