#**
 *  Render the top section of the page visible to users
 *#

<div id="head">
  <span ><a href="#url_for_home#if($request.params.get('debugQuery'))?debugQuery=true#end"><img src="#{url_root}/img/solr.svg" id="logo"/></a></span>
</div>
