#**
 *  Paging and Statistics at bottom of results
 *#

## Usually rendered in pagination div tag

#if($response.response.get('grouped'))
  ## pass
#else

  #link_to_previous_page("previous")

  <span class="results-found">$page.results_found</span>
  results found.

  Page <span class="page-num">$page.current_page_number</span>
    of <span class="page-count">$page.page_count</span>

  #link_to_next_page("next")

#end
<br/>
