/* Apache Javadoc style sheet */

/* Page background color */
body { background-color: #FFFFFF }

/* Table colors */
.TableHeadingColor     { background: #D0D0D0 }
.TableSubHeadingColor  { background: #E0E0E0 }
.TableRowColor         { background: #F9F9F9 }

/* Navigation bar fonts and colors */
.NavBarCell1    { background-color:#D0D0D0;}
.NavBarCell1Rev { background-color:#A0A0A0;}
.NavBarFont1    { font-family: Arial, Helvetica, sans-serif; color:#000000;}
.NavBarFont1Rev { font-family: Arial, Helvetica, sans-serif; color:#FFFFFF;}
.NavBarCell2    { font-family: Arial, Helvetica, sans-serif; background-color:#E0E0E0;}
.NavBarCell3    { font-family: Arial, Helvetica, sans-serif; background-color:#F0F0F0;}

/* Font used in left-hand frame lists */
.FrameTitleFont   { font-size: normal; font-family: Helvetica, Arial, sans-serif }
.FrameHeadingFont { font-size: normal; font-family: Helvetica, Arial, sans-serif }
.FrameItemFont    { font-size: 10pt; font-family: Helvetica, Arial, sans-serif }

p { font-size: 10pt; font-family: Helvetica, Arial, sans-serif }
h1 { font-size: 14pt; font-family: Helvetica, Arial, sans-serif; font-weight: bold }
h2 { font-size: 12pt; font-family: Helvetica, Arial, sans-serif; font-weight: bold }
h3 { font-size: 10pt; font-family: Helvetica, Arial, sans-serif; font-weight: bold }

/* Link colors styling */
A:link { color: #0000A0 }          /* unvisited link */
A:visited { color: #A00000 }       /* visited links */
A:active { color: #00A000 }        /* active links */
