<!DOCTYPE html>
{% comment %}NOTE: page_id is also definied in page.html{% endcomment %}
{% assign page_id = page.url | split: '/' | last | remove: '.html' %}
<head>
    {% include head.html %}
    <script>
        $(document).ready(function() {
            // Initialize navgoco with default options
            $("#mysidebar").navgoco({
                caretHtml: '',
                accordion: true,
                openClass: 'active', // open
                save: false, // we do *NOT* want cookies used to save the current stage of the sidebar
                             // instead the code in sidebar.html will ensure that the current page
                             // (and it's ancestors) are "active" on page load
                slide: {
                    duration: 400,
                    easing: 'swing'
                }
            });

            $("#collapseAll").click(function(e) {
                e.preventDefault();
                $("#mysidebar").navgoco('toggle', false);
            });

            $("#expandAll").click(function(e) {
                e.preventDefault();
                $("#mysidebar").navgoco('toggle', true);
            });

        });

    </script>
</head>
<body class="{{ site.solr-attributes.solr-guide-draft-status }}" id="{{ page_id }}">
{% include topnav.html %}
<!-- Page Content -->
<div class="container">
  <div class="col-lg-12">&nbsp;</div>
  <!-- Content Row -->
  <div class="row">
    <!-- Sidebar Column -->
    <nav class="col-md-3">
      {% include sidebar.html %}
    </nav>
    <!-- Content Column -->
    <article class="col-md-9 post-content">
      {{content}}
    </article>
    <!-- /.row -->
  </div>
  {% include footer.html %}
  <!-- /.container -->
</div>

</body>
</html>
