<!DOCTYPE html>
{% comment %}NOTE: page_id is also defined in page.html{% endcomment %}
{% assign page_id = page.url | split: '/' | last | remove: '.html' %}
<head>
    {% include head.html %}
    <script>
        $(document).ready(function() {
            // Initialize navgoco with default options
            $("#mysidebar").navgoco({
                caretHtml: '',
                accordion: true,
                openClass: 'active', // open
                save: false, // we do *NOT* want cookies used to save the current stage of the sidebar
                             // instead the code in sidebar.html will ensure that the current page
                             // (and it's ancestors) are "active" on page load
                slide: {
                    duration: 400,
                    easing: 'swing'
                }
            });

            $("#collapseAll").click(function(e) {
                e.preventDefault();
                $("#mysidebar").navgoco('toggle', false);
            });

            $("#expandAll").click(function(e) {
                e.preventDefault();
                $("#mysidebar").navgoco('toggle', true);
            });

        });

    </script>
</head>
<body class="{{ site.solr-attributes.solr-guide-draft-status }}" id="{{ page_id }}">
<div class="container-fluid">
  <div class="row">
  <nav id="sidebar" class="col-2 d-none d-md-block">
    {% include sidebar.html %}
  </nav>
  <div id="content" class="col-10">
    {% include topnav.html %}
    <article class="post-content">
      {{ content }}
    </article>
     {% include footer.html %}
  </div>
</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script src="{{ "js/customscripts.js" }}"></script>

{% include mathjax-support.html %}

</body>
</html>
