---
layout: default
---

<!-- This layout is ONLY used for index.adoc, which is the default landing page
     for the Ref Guide.
     Its main difference is that it uses a different class for the content
     container in order to have freedom to customize it as needed. -->

{% comment %}NOTE: page_id is also defined in default.html{% endcomment %}
{% assign page_id = page.url | split: '/' | last | remove: '.html' %}

{% comment %}
NOTE: link-check-root is not used in any CSS, but must exist once per page as a wrapper
      around all content that should have links checked (ie: we don't link check header/footer)
{% endcomment %}
<div class="homepage container link-check-root">
  {{ content }}
</div>

<br />
