---
layout: default
---

{% comment %}NOTE: page_id is also defined in default.html{% endcomment %}
{% assign page_id = page.url | split: '/' | last | remove: '.html' %}
<header class="header">
   <h1 class="title-main">{{ page.title }}</h1>
</header>

<div class="container-fluid">

<!-- This makes the automatic TOC generation conditional.
     Add ":page-show-toc: false" to front-matter to disable auto-TOC. -->
  {% if page.show-toc != false %}
  <nav class="toc float-right justify-content-end">
    {{ page.document | tocify_asciidoc }}
  </nav>
  {% endif %}

  {% comment %}
  NOTE: link-check-root is not used in any CSS, but must exist once per page as a wrapper
        around all content that should have links checked (ie: we don't link check header/footer)
  {% endcomment %}
  <section class="content link-check-root">
     {{ content }}
  </section>


<!-- Adds tags, if any -->
    <div class="tags">
        {% if page.tags != null %}
        <b>Tags: </b>
        {% assign projectTags = site.data.tags.allowed-tags %}
        {% for tag in page.tags %}
        {% if projectTags contains tag %}
        <a href="{{ "tag-" | append: tag | append: ".html" }}" class="btn btn-default navbar-btn cursorNorm" role="button">{{page.tagName}}{{tag}}</a>
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>

<!-- Adds nav links on each page -->
    {% assign scrollnav = site.data.scrollnav[page_id] %}
    {% if scrollnav %}
    <nav class="scrollnav row">
      <div class="col-lg-12">
      {% if scrollnav.prev %}
      <a class="btn btn-primary prev float-left" href="{{ scrollnav.prev.url }}">{{ scrollnav.prev.title }}</a>
      {% endif %}
      {% if scrollnav.next %}
      <a class="btn btn-primary next float-right" href="{{ scrollnav.next.url }}">{{ scrollnav.next.title }}</a>
      {% endif %}
      </div>
   </nav>
    {% endif %}
</div>
