# Gradle
#    Ignore the generated local settings file.
/gradle.properties
.gradle/
build/

# IntelliJ IDEA
/.idea/
#    IntelliJ creates this folder, ignore.
/dev-tools/missing-doclet/out/

# Eclipse
/.project
/.classpath
/.settings/
#    Eclipse Gradle oddity
**/bin/default/

# macOS
.DS_Store

# Python
.pydevproject
__pycache__

# Emacs backup
*~
