# .
/eclipse-build
/maven-build
/classes
build
/idea-build
dist
lib
test-lib
/*~
/velocity.log
/build.properties
/.idea
lucene/**/*.iml
parent.iml
*.ipr
*.iws
/.project
/.classpath
/.settings
/.caches
/prj.el
/bin
/bin.*
pom.xml
/nbproject
/nb-build
.pydevproject
__pycache__
/dev-tools/scripts/scripts.iml
.DS_Store

