body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  background-color: light-grey 
}

h1 {
  font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif
  color: yellow; 
  background-color: lightblue
}

h2 {
  font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif
  color: yellow; 
  background-color: lightblue
}

a:link {
  color: blue 
}

a:visited {
  color: purple 
}

li {
  margin-top: 1em;
  margin-bottom: 1em;
}