<hr/>
<div>
  <span>Options:</span>

  #if($debug)
    <a href="#url_for_home?#q#if($request.params.getParams('fq').size() > 0)&#fqs($request.params.getParams('fq'))#end">
      disable debug</a>
  #else
    <a href="#url_for_lens&debug=true&fl=*,score">enable debug</a>
  #end
  -
  <a href="#url_for_lens&wt=xml#if($debug)&debug=true#end">XML results</a> ## TODO: Add links for other formats, maybe dynamically?

</div>

<div>
  <a href="http://lucene.apache.org/solr">Solr Home Page</a>
</div>

