<html>
<head>
  #parse("head.vm")
</head>
  <body>
    <div id="admin"><a href="#url_root/#/#core_name">Solr Admin</a></div>
    <div id="head">
      <a href="#url_for_home#if($debug)?debug=true#end"><img src="#{url_root}/img/solr.svg" id="logo"/></a>
    </div>

    <div id="content">
      $content
    </div>

    <div id="footer">
      #parse("footer.vm")
    </div>
  </body>
</html>
