<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee web-app_2_4.xsd"
	version="2.4">
	<display-name>Lucene GData - Server</display-name>
	<description>
		Server-side implementation of the GData protocol based on Apache
		- Lucene
	</description>
	<listener>
		<listener-class>
			org.apache.lucene.gdata.server.registry.RegistryContextListener
		</listener-class>
	</listener>
	<servlet>
		<servlet-name>ControllerServlet</servlet-name>
		<servlet-class>
			org.apache.lucene.gdata.servlet.RequestControllerServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControllerServlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AuthenticationServlet</servlet-name>
		<servlet-class>
			org.apache.lucene.gdata.servlet.AuthenticationServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthenticationServlet</servlet-name>
		<url-pattern>/accounts/ClientLogin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FeedAdminServlet</servlet-name>
		<servlet-class>
			org.apache.lucene.gdata.servlet.FeedAdministrationServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FeedAdminServlet</servlet-name>
		<url-pattern>/admin/feed</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AccountAdminServlet</servlet-name>
		<servlet-class>
			org.apache.lucene.gdata.servlet.AccountAdministrationServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccountAdminServlet</servlet-name>
		<url-pattern>/admin/account</url-pattern>
	</servlet-mapping>

</web-app>