/** This CSS controls search box and results **/

.form-row {
  padding-bottom: 15px;
}


/* search area */
#search-demo-container ul#results-container {
    list-style: none;
    font-size: 12px;
    background-color: white;
    z-index: -1;
    border-left: 1px solid #dedede;
    box-shadow: 2px 3px 2px #dedede;
    margin-left: 0px;
}

ul#results-container a {
    background-color: transparent;
    color: #2156a5;
    text-indent: -6px;
    padding-left: 8px;
    display: block;
}

ul#results-container a:hover,
ul#results-container a:focus {
    background-color: #D9411E;
    color: white;
}

#search-input {
    font-size: 0.8em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: right;
}

/*Pad the left and bottom of the results container to give a little more space to the nav*/
ul#results-container {
  padding-bottom: 30px;
  padding-left: 2px;
}

/* end search */
