<project xmlns="http://maven.apache.org/POM/4.0.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/maven-v4_0_0.xsd">
  <!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at
    
    http://www.apache.org/licenses/LICENSE-2.0
    
    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
  -->
  <modelVersion>4.0.0</modelVersion>
  <parent>
    <groupId>org.apache</groupId>
    <artifactId>apache</artifactId>
    <version>8</version>
    <relativePath/>
  </parent>
  <groupId>org.apache.lucene</groupId>
  <artifactId>lucene-solr-grandparent</artifactId>
  <version>@version@</version>
  <packaging>pom</packaging>
  <name>Grandparent POM for Apache Lucene Java and Apache Solr</name>
  <description>Parent POM for Apache Lucene Java and Apache Solr</description>
  <url>http://lucene.apache.org/java</url>
  <modules>
    <module>lucene</module>
    <module>modules</module>
    <module>solr</module>
  </modules>
  <properties>
    <base.specification.version>4.0.0</base.specification.version>
    <maven.build.timestamp.format>yyyy-MM-dd HH:mm:ss</maven.build.timestamp.format>
    <java.compat.version>1.6</java.compat.version>
    <jetty.version>6.1.26</jetty.version>
    <patched.jetty.version>6.1.26-patched-JETTY-1340</patched.jetty.version>
    <slf4j.version>1.6.1</slf4j.version>
    <tika.version>0.8</tika.version>
  </properties>
  <issueManagement>
    <system>JIRA</system>
    <url>http://issues.apache.org/jira/browse/LUCENE</url>
  </issueManagement>
  <ciManagement>
    <system>Hudson</system>
    <url>http://lucene.zones.apache.org:8080/hudson/job/Lucene-Nightly/</url>
  </ciManagement>
  <mailingLists>
    <mailingList>
      <name>General List</name>
      <subscribe>general-subscribe@lucene.apache.org</subscribe>
      <unsubscribe>general-unsubscribe@lucene.apache.org</unsubscribe>
      <archive>
        http://mail-archives.apache.org/mod_mbox/lucene-general/
      </archive>
    </mailingList>
    <mailingList>
      <name>Java User List</name>
      <subscribe>java-user-subscribe@lucene.apache.org</subscribe>
      <unsubscribe>java-user-unsubscribe@lucene.apache.org</unsubscribe>
      <archive>
        http://mail-archives.apache.org/mod_mbox/lucene-java-user/
      </archive>
    </mailingList>
    <mailingList>
      <name>Java Developer List</name>
      <subscribe>dev-subscribe@lucene.apache.org</subscribe>
      <unsubscribe>dev-unsubscribe@lucene.apache.org</unsubscribe>
      <archive>http://mail-archives.apache.org/mod_mbox/lucene-dev/</archive>
    </mailingList>
    <mailingList>
      <name>Java Commits List</name>
      <subscribe>commits-subscribe@lucene.apache.org</subscribe>
      <unsubscribe>commits-unsubscribe@lucene.apache.org</unsubscribe>
      <archive>
        http://mail-archives.apache.org/mod_mbox/lucene-java-commits/
      </archive>
    </mailingList>
  </mailingLists>
  <inceptionYear>2000</inceptionYear>
  <scm>
    <connection>
      scm:svn:http://svn.apache.org/repos/asf/lucene/dev/trunk/${module-directory}
    </connection>
    <developerConnection>
      scm:svn:https://svn.apache.org/repos/asf/lucene/dev/trunk/${module-directory}
    </developerConnection>
    <url>
      http://svn.apache.org/viewvc/lucene/dev/trunk/${module-directory}
    </url>
  </scm>
  <licenses>
    <license>
      <name>Apache 2</name>
      <url>http://www.apache.org/licenses/LICENSE-2.0.txt</url>
    </license>
  </licenses>
  <repositories>
    <repository>
      <id>apache.snapshots</id>
      <name>Apache Snapshot Repository</name>
      <url>http://repository.apache.org/snapshots</url>
      <releases>
        <enabled>false</enabled>
      </releases>
      <snapshots>
        <updatePolicy>never</updatePolicy>
      </snapshots>
    </repository>
  </repositories>
  <dependencyManagement>
    <dependencies>
      <dependency>
        <groupId>com.ibm.icu</groupId>
        <artifactId>icu4j</artifactId>
        <version>4.8</version>
      </dependency>
      <dependency>
        <groupId>com.google.guava</groupId>
        <artifactId>guava</artifactId>
        <version>r05</version>
      </dependency>
      <dependency>
        <groupId>commons-beanutils</groupId>
        <artifactId>commons-beanutils</artifactId>
        <version>1.7.0</version>
      </dependency>
      <dependency>
        <groupId>commons-codec</groupId>
        <artifactId>commons-codec</artifactId>
        <version>1.4</version>
      </dependency>
      <dependency>
        <groupId>commons-collections</groupId>
        <artifactId>commons-collections</artifactId>
        <version>3.2.1</version>
      </dependency>
      <dependency>
        <groupId>commons-digester</groupId>
        <artifactId>commons-digester</artifactId>
        <version>1.7</version>
      </dependency>
      <dependency>
        <groupId>commons-fileupload</groupId>
        <artifactId>commons-fileupload</artifactId>
        <version>1.2.1</version>
      </dependency>
      <dependency>
        <groupId>commons-io</groupId>
        <artifactId>commons-io</artifactId>
        <version>1.4</version>
      </dependency>
      <dependency>
        <groupId>commons-httpclient</groupId>
        <artifactId>commons-httpclient</artifactId>
        <version>3.1</version>
      </dependency>
      <dependency>
        <groupId>commons-lang</groupId>
        <artifactId>commons-lang</artifactId>
        <version>2.4</version>
      </dependency>
      <dependency>
        <groupId>commons-logging</groupId>
        <artifactId>commons-logging</artifactId>
        <version>1.1.1</version>
      </dependency>
      <dependency>
        <groupId>jakarta-regexp</groupId>
        <artifactId>jakarta-regexp</artifactId>
        <version>1.4</version>
      </dependency>
      <dependency>
        <groupId>javax.activation</groupId>
        <artifactId>activation</artifactId>
        <version>1.1</version>
      </dependency>
      <dependency>
        <groupId>javax.mail</groupId>
        <artifactId>mail</artifactId>
        <version>1.4.1</version>
      </dependency>
      <dependency>
        <groupId>jline</groupId>
        <artifactId>jline</artifactId>
        <version>0.9.1</version>
      </dependency>
      <dependency>
        <groupId>junit</groupId>
        <artifactId>junit</artifactId>
        <version>4.7</version>
      </dependency>
      <dependency>
        <groupId>org.apache.ant</groupId>
        <artifactId>ant</artifactId>
        <version>1.7.1</version>
      </dependency>
      <dependency>
        <groupId>org.apache.ant</groupId>
        <artifactId>ant-junit</artifactId>
        <version>1.7.1</version>
      </dependency>
      <dependency>
        <groupId>org.apache.commons</groupId>
        <artifactId>commons-compress</artifactId>
        <version>1.1</version>
      </dependency>
      <dependency>
        <groupId>org.apache.solr</groupId>
        <artifactId>solr-commons-csv</artifactId>
        <version>${project.version}</version>
      </dependency>
      <dependency>
        <groupId>org.apache.solr</groupId>
        <artifactId>solr-noggit</artifactId>
        <version>${project.version}</version>
      </dependency>
      <dependency>
        <groupId>org.apache.tika</groupId>
        <artifactId>tika-core</artifactId>
        <version>${tika.version}</version>
      </dependency>
      <dependency>
        <groupId>org.apache.tika</groupId>
        <artifactId>tika-parsers</artifactId>
        <version>${tika.version}</version>
      </dependency>
      <dependency>
        <groupId>org.apache.solr</groupId>
        <artifactId>solr-uima-an-alchemy</artifactId>
        <version>${project.version}</version>
      </dependency>
      <dependency>
        <groupId>org.apache.solr</groupId>
        <artifactId>solr-uima-an-calais</artifactId>
        <version>${project.version}</version>
      </dependency>
      <dependency>
        <groupId>org.apache.solr</groupId>
        <artifactId>solr-uima-an-tagger</artifactId>
        <version>${project.version}</version>
      </dependency>
      <dependency>
        <groupId>org.apache.solr</groupId>
        <artifactId>solr-uima-an-wst</artifactId>
        <version>${project.version}</version>
      </dependency>
      <dependency>
        <groupId>org.apache.uima</groupId>
        <artifactId>uimaj-core</artifactId>
        <version>2.3.1</version>
      </dependency>
      <dependency>
        <groupId>org.apache.velocity</groupId>
        <artifactId>velocity</artifactId>
        <version>1.6.4</version>
      </dependency>
      <dependency>
        <groupId>org.apache.velocity</groupId>
        <artifactId>velocity-tools</artifactId>
        <version>2.0</version>
      </dependency>
      <dependency>
        <groupId>org.apache.zookeeper</groupId>
        <artifactId>zookeeper</artifactId>
        <version>3.3.3</version>
      </dependency>
      <dependency>
        <groupId>org.carrot2</groupId>
        <artifactId>carrot2-core</artifactId>
        <version>3.5.0</version>
      </dependency>
      <dependency>
        <groupId>org.carrot2</groupId>
        <artifactId>morfologik-polish</artifactId>
        <version>1.5.2</version>
      </dependency>
      <dependency>
        <groupId>org.codehaus.woodstox</groupId>
        <artifactId>wstx-asl</artifactId>
        <version>3.2.7</version>
      </dependency>
      <dependency>
        <groupId>org.easymock</groupId>
        <artifactId>easymock</artifactId>
        <version>2.2</version>
      </dependency>
      <dependency>
        <groupId>org.mortbay.jetty</groupId>
        <artifactId>jetty</artifactId>
        <version>${patched.jetty.version}</version>
      </dependency>
      <dependency>
        <groupId>org.mortbay.jetty</groupId>
        <artifactId>jetty-util</artifactId>
        <version>${patched.jetty.version}</version>
      </dependency>
      <dependency>
        <groupId>org.mortbay.jetty</groupId>
        <artifactId>jsp-2.1-glassfish</artifactId>
        <version>2.1.v20091210</version>
      </dependency>
      <dependency>
        <groupId>org.mortbay.jetty</groupId>
        <artifactId>jsp-2.1-jetty</artifactId>
        <version>${jetty.version}</version>
      </dependency>
      <dependency>
        <groupId>org.mortbay.jetty</groupId>
        <artifactId>jsp-api-2.1-glassfish</artifactId>
        <version>2.1.v20091210</version>
      </dependency>
      <dependency>
        <groupId>org.slf4j</groupId>
        <artifactId>jcl-over-slf4j</artifactId>
        <version>${slf4j.version}</version>
      </dependency>
      <dependency>
        <groupId>org.slf4j</groupId>
        <artifactId>log4j-over-slf4j</artifactId>
        <version>${slf4j.version}</version>
      </dependency>
      <dependency>
        <groupId>org.slf4j</groupId>
        <artifactId>slf4j-api</artifactId>
        <version>${slf4j.version}</version>
      </dependency> 
      <dependency>
        <groupId>org.slf4j</groupId>
        <artifactId>slf4j-jdk14</artifactId>
        <version>${slf4j.version}</version>
      </dependency> 
      <dependency>
        <groupId>org.slf4j</groupId>
        <artifactId>slf4j-simple</artifactId>
        <version>${slf4j.version}</version>
      </dependency>
      <dependency>
        <groupId>org.apache.lucene</groupId>
        <artifactId>lucene-xercesImpl</artifactId>
        <version>${project.version}</version>
      </dependency>
      <dependency>
        <groupId>javax.servlet</groupId>
        <artifactId>servlet-api</artifactId>
        <version>2.4</version>
      </dependency>
    </dependencies>
  </dependencyManagement>
  <build>
    <directory>lucene/build/lucene-parent</directory>
    <pluginManagement>
      <plugins>
        <plugin>
          <groupId>org.apache.maven.plugins</groupId>
          <artifactId>maven-antrun-plugin</artifactId>
          <version>1.6</version>
        </plugin>
        <plugin>
          <groupId>org.apache.maven.plugins</groupId>
          <artifactId>maven-clean-plugin</artifactId>
          <version>2.4.1</version>
        </plugin>
        <plugin>
          <groupId>org.apache.maven.plugins</groupId>
          <artifactId>maven-compiler-plugin</artifactId>
          <version>2.3.2</version>
          <configuration>
            <source>${java.compat.version}</source>
            <target>${java.compat.version}</target>
          </configuration>
        </plugin>
        <plugin>
          <groupId>org.apache.maven.plugins</groupId>
          <artifactId>maven-deploy-plugin</artifactId>
          <version>2.5</version>
        </plugin>
        <plugin>
          <groupId>org.apache.maven.plugins</groupId>
          <artifactId>maven-enforcer-plugin</artifactId>
          <version>1.0</version>
        </plugin>
        <plugin>
          <groupId>org.apache.maven.plugins</groupId>
          <artifactId>maven-install-plugin</artifactId>
          <version>2.3.1</version>
        </plugin>
        <plugin>
          <groupId>org.apache.maven.plugins</groupId>
          <artifactId>maven-jar-plugin</artifactId>
          <version>2.3.1</version>
          <configuration>
            <archive>
              <!-- This section should be *exactly* the same under -->
              <!-- maven-jar-plugin and maven-war-plugin.          -->
              <!-- If you make changes here, make the same changes -->
              <!-- in the other location as well.                  -->
              <manifestEntries>
                <Extension-Name>${project.groupId}</Extension-Name>
                <Implementation-Title>${project.groupId}</Implementation-Title>
                <Specification-Title>${project.name}</Specification-Title>
                <!-- spec version must match "digit+{.digit+}*" -->
                <Specification-Version>${base.specification.version}.${now.version}</Specification-Version>
                <Specification-Vendor>The Apache Software Foundation</Specification-Vendor>
                <!-- impl version can be any string -->
                <Implementation-Version>${project.version} ${svn.revision} - ${user.name} - ${now.timestamp}</Implementation-Version>
                <Implementation-Vendor>The Apache Software Foundation</Implementation-Vendor>
                <X-Compile-Source-JDK>${java.compat.version}</X-Compile-Source-JDK>
                <X-Compile-Target-JDK>${java.compat.version}</X-Compile-Target-JDK>
              </manifestEntries>
            </archive>
          </configuration>
        </plugin>
        <plugin>
          <groupId>org.apache.maven.plugins</groupId>
          <artifactId>maven-resources-plugin</artifactId>
          <version>2.4.3</version>
        </plugin>
        <plugin>
          <groupId>org.apache.maven.plugins</groupId>
          <artifactId>maven-surefire-plugin</artifactId>
          <version>2.7.1</version>
          <configuration>
            <reportFormat>plain</reportFormat>
            <workingDirectory>${project.build.directory}/test</workingDirectory>
            <systemPropertyVariables>
              <tempDir>.</tempDir>
              <jetty.testMode>1</jetty.testMode>
              <tests.codec>${tests.codec}</tests.codec>
              <tests.directory>${tests.directory}</tests.directory>
              <tests.iter>${tests.iter}</tests.iter>
              <tests.locale>${tests.locale}</tests.locale>
              <tests.luceneMatchVersion>${tests.luceneMatchVersion}</tests.luceneMatchVersion>
              <tests.multiplier>${tests.multiplier}</tests.multiplier>
              <tests.nightly>${tests.nightly}</tests.nightly>
              <tests.seed>${tests.seed}</tests.seed>
              <tests.timezone>${tests.timezone}</tests.timezone>
            </systemPropertyVariables>
          </configuration>
        </plugin>
        <plugin>
          <groupId>org.apache.maven.plugins</groupId>
          <artifactId>maven-war-plugin</artifactId>
          <version>2.1.1</version>
          <configuration>
            <archive>
              <!-- This section should be *exactly* the same under -->
              <!-- maven-jar-plugin and maven-war-plugin.          -->
              <!-- If you make changes here, make the same changes -->
              <!-- in the other location as well.                  -->
              <manifestEntries>
                <Extension-Name>${project.groupId}</Extension-Name>
                <Implementation-Title>${project.groupId}</Implementation-Title>
                <Specification-Title>${project.name}</Specification-Title>
                <!-- spec version must match "digit+{.digit+}*" -->
                <Specification-Version>${base.specification.version}.${now.version}</Specification-Version>
                <Specification-Vendor>The Apache Software Foundation</Specification-Vendor>
                <!-- impl version can be any string -->
                <Implementation-Version>${project.version} ${svn.revision} - ${user.name} - ${now.timestamp}</Implementation-Version>
                <Implementation-Vendor>The Apache Software Foundation</Implementation-Vendor>
                <X-Compile-Source-JDK>${java.compat.version}</X-Compile-Source-JDK>
                <X-Compile-Target-JDK>${java.compat.version}</X-Compile-Target-JDK>
              </manifestEntries>
            </archive>
          </configuration>
        </plugin>
        <plugin>
          <groupId>org.codehaus.mojo</groupId>
          <artifactId>appassembler-maven-plugin</artifactId>
          <version>1.1</version>
        </plugin>
        <plugin>
          <groupId>org.codehaus.mojo</groupId>
          <artifactId>build-helper-maven-plugin</artifactId>
          <version>1.5</version>
        </plugin>
        <plugin>
          <groupId>org.codehaus.mojo</groupId>
          <artifactId>buildnumber-maven-plugin</artifactId>
          <version>1.0-beta-4</version>
        </plugin>
        <plugin>
          <groupId>org.mortbay.jetty</groupId>
          <artifactId>maven-jetty-plugin</artifactId>
          <version>${jetty.version}</version>
        </plugin>
        <plugin>
          <groupId>org.codehaus.gmaven</groupId>
          <artifactId>gmaven-plugin</artifactId>
          <version>1.3</version>
        </plugin>
      </plugins>
    </pluginManagement>
    <plugins>
      <plugin>
        <groupId>org.codehaus.gmaven</groupId>
        <artifactId>gmaven-plugin</artifactId>
        <executions>
          <execution>
            <id>generate-timestamps</id>
            <phase>validate</phase>
            <goals>
              <goal>execute</goal>
            </goals>
            <configuration>
              <source>
                project.properties['now.timestamp'] = "${maven.build.timestamp}"
                project.properties['now.version'] = ("${maven.build.timestamp}" =~ /[- :]/).replaceAll(".")
                project.properties['now.year'] = "${maven.build.timestamp}".substring(0, 4)
              </source>
            </configuration>
          </execution>
        </executions>
      </plugin>
      <plugin>
        <groupId>org.codehaus.mojo</groupId>
        <artifactId>buildnumber-maven-plugin</artifactId>
        <executions>
          <execution>
            <phase>validate</phase>
            <goals>
              <goal>create</goal>
            </goals>
          </execution>
        </executions>
        <configuration>
          <doCheck>false</doCheck>
          <doUpdate>false</doUpdate>
          <getRevisionOnlyOnce>true</getRevisionOnlyOnce>
          <revisionOnScmFailure>NO-REVISION-AVAILABLE</revisionOnScmFailure>
          <buildNumberPropertyName>svn.revision</buildNumberPropertyName>
        </configuration>
      </plugin>
      <plugin>
        <groupId>org.apache.maven.plugins</groupId>
        <artifactId>maven-enforcer-plugin</artifactId>
        <executions>
          <execution>
            <id>enforce-java-compat-version-and-maven-2.2.1</id>
            <goals>
              <goal>enforce</goal>
            </goals>
            <configuration>
              <rules>
                <requireJavaVersion>
                  <message>Java ${java.compat.version}+ is required.</message>
                  <version>[${java.compat.version},)</version>
                </requireJavaVersion>
                <requireMavenVersion>
                  <message>Maven 2.2.1+ is required.</message>
                  <version>[2.2.1,)</version>
                </requireMavenVersion>
                <requirePluginVersions/>           
              </rules>    
            </configuration>
          </execution>
        </executions>
      </plugin>
      
      <!-- Adding OSGI metadata to the JAR without changing the packaging type. -->
      <plugin>
        <artifactId>maven-jar-plugin</artifactId>
        <configuration>
          <archive>
            <manifestFile>${project.build.outputDirectory}/META-INF/MANIFEST.MF</manifestFile>
          </archive>
        </configuration>
      </plugin>
      <plugin>
        <groupId>org.apache.felix</groupId>
        <artifactId>maven-bundle-plugin</artifactId>
        <version>2.3.4</version>
        <configuration>
          <instructions>
            <Export-Package>*;-split-package:=merge-first</Export-Package>
          </instructions>
        </configuration>
        <executions>
          <execution>
            <id>bundle-manifest</id>
            <phase>process-classes</phase>
            <goals>
              <goal>manifest</goal>
            </goals>
          </execution>
        </executions>
      </plugin>
      
    </plugins>
  </build>
  <profiles>
    <profile>
      <id>bootstrap</id>
      <build>
        <plugins>
          <plugin>
            <groupId>org.apache.maven.plugins</groupId>
            <artifactId>maven-install-plugin</artifactId>
            <executions>
              <execution>
                <id>install-xercesImpl</id>
                <phase>install</phase>
                <goals>
                  <goal>install-file</goal>
                </goals>
                <configuration>
                  <groupId>org.apache.lucene</groupId>
                  <artifactId>lucene-xercesImpl</artifactId>
                  <version>${project.version}</version>
                  <packaging>jar</packaging>
                  <file>modules/benchmark/lib/xercesImpl-2.9.1-patched-XERCESJ-1257.jar</file>
                </configuration>  
              </execution>
              <execution>
                <id>install-solr-commons-csv</id>
                <phase>install</phase>
                <goals>
                  <goal>install-file</goal>
                </goals>
                <configuration>
                  <groupId>org.apache.solr</groupId>
                  <artifactId>solr-commons-csv</artifactId>
                  <version>${project.version}</version>
                  <packaging>jar</packaging>
                  <file>solr/lib/commons-csv-1.0-SNAPSHOT-r966014.jar</file>
                </configuration>  
              </execution>
              <execution>
                <id>install-solr-noggit</id>
                <phase>install</phase>
                <goals>
                  <goal>install-file</goal>
                </goals>
                <configuration>
                  <groupId>org.apache.solr</groupId>
                  <artifactId>solr-noggit</artifactId>
                  <version>${project.version}</version>
                  <packaging>jar</packaging>
                  <file>solr/lib/apache-solr-noggit-r1099557.jar</file>
                </configuration>  
              </execution>
              <execution>
                <id>install-solr-uima-an-alchemy</id>
                <phase>install</phase>
                <goals>
                  <goal>install-file</goal>
                </goals>
                <configuration>
                  <groupId>org.apache.solr</groupId>
                  <artifactId>solr-uima-an-alchemy</artifactId>
                  <version>${project.version}</version>
                  <packaging>jar</packaging>
                  <file>solr/contrib/uima/lib/uima-an-alchemy-2.3.1-SNAPSHOT-r1062868.jar</file>
                </configuration>  
              </execution>
              <execution>
                <id>install-solr-uima-an-calais</id>
                <phase>install</phase>
                <goals>
                  <goal>install-file</goal>
                </goals>
                <configuration>
                  <groupId>org.apache.solr</groupId>
                  <artifactId>solr-uima-an-calais</artifactId>
                  <version>${project.version}</version>
                  <packaging>jar</packaging>
                  <file>solr/contrib/uima/lib/uima-an-calais-2.3.1-SNAPSHOT-r1062868.jar</file>
                </configuration>  
              </execution>
              <execution>
                <id>install-solr-uima-an-tagger</id>
                <phase>install</phase>
                <goals>
                  <goal>install-file</goal>
                </goals>
                <configuration>
                  <groupId>org.apache.solr</groupId>
                  <artifactId>solr-uima-an-tagger</artifactId>
                  <version>${project.version}</version>
                  <packaging>jar</packaging>
                  <file>solr/contrib/uima/lib/uima-an-tagger-2.3.1-SNAPSHOT-r1062868.jar</file>
                </configuration>  
              </execution>
              <execution>
                <id>install-solr-uima-an-wst</id>
                <phase>install</phase>
                <goals>
                  <goal>install-file</goal>
                </goals>
                <configuration>
                  <groupId>org.apache.solr</groupId>
                  <artifactId>solr-uima-an-wst</artifactId>
                  <version>${project.version}</version>
                  <packaging>jar</packaging>
                  <file>solr/contrib/uima/lib/uima-an-wst-2.3.1-SNAPSHOT-r1076132.jar</file>
                </configuration>  
              </execution>
              <execution>
                <id>install-jetty</id>
                <phase>install</phase>
                <goals>
                  <goal>install-file</goal>
                </goals>
                <configuration>
                  <groupId>org.mortbay.jetty</groupId>
                  <artifactId>jetty</artifactId>
                  <version>${patched.jetty.version}</version>
                  <packaging>jar</packaging>
                  <file>solr/example/lib/jetty-${patched.jetty.version}.jar</file>
                </configuration>
              </execution>
              <execution>
                <id>install-jetty-util</id>
                <phase>install</phase>
                <goals>
                  <goal>install-file</goal>
                </goals>
                <configuration>
                  <groupId>org.mortbay.jetty</groupId>
                  <artifactId>jetty-util</artifactId>
                  <version>${patched.jetty.version}</version>
                  <packaging>jar</packaging>
                  <file>solr/example/lib/jetty-util-${patched.jetty.version}.jar</file>
                </configuration>
              </execution>
            </executions>
          </plugin>
        </plugins>
      </build>
    </profile>
  </profiles>
</project>
