#macro(field $f)
  #if($response.response.highlighting.get($doc.getFieldValue('id')).get($f).get(0))
    $!response.response.highlighting.get($doc.getFieldValue('id')).get($f).get(0)
  #else
    #foreach($v in $doc.getFieldValues($f))
      $v
    #end
  #end
#end
<div class="result-document">
  <p><b>#field('name')</b></p>
  <p>Price: $!number.currency($doc.getFieldValue('price'))</p>
  <p>Features: #field('features')</p>
  <p>In Stock: #field('inStock')</p>
  
  #if($params.getBool("debugQuery",false))
    <a href="#" onclick='jQuery(this).siblings("pre").toggle(); return false;'>toggle explain</a>
    <pre style="display:none">$response.getExplainMap().get($doc.getFirstValue('id'))</pre>
  #end
</div>
