#cluster-suggestions
.s-container{
    text-align:center;
}
#cluster-suggestions
.s-box1{
    background-image: url( ../../img/ico/run.png );
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    vertical-align: middle;
    display:inline-block;
    width:20px;
}
#cluster-suggestions
.s-box2{
    display:inline-block;
}
#cluster-suggestions
.s-box3{
    display:inline-block;
}
#cluster-suggestions
.s-box4{
    display:inline-block;
}
#s-table {
    border-collapse: collapse;
    width: 60%;
}

#s-table td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#cluster-suggestions #s-table tr:nth-child(even){background-color: #f2f2f2;}

#cluster-suggestions #s-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
