body {
  font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
  font-size: 12px;
  margin: 15px;
}

#header {
	font-size: 22px;
	margin-bottom: -10px;
	width: 200px;
	border-top: 4px solid #D43D1A;
	border-left: 4px solid #EE4000;
  	background:url(../images/flare.jpg) no-repeat left top; 
}

#header a {
	color: #EE4000;
}

#header a:hover {
	color: #CD3700;
}


td {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
	font-size: 11px;
}
a, a:visited {
	color: #cc6633;
	text-decoration: none;
}
a:hover {
	color: #ff9933; 
	text-decoration: none;
}

h2 {
	font-size: 16px;
	font-weight: normal;
	}

h4 {
	font-size: 13px;
	font-weight: normal;
	letter-spacing: .2em;
	}
	
h4 a {
		font-size: 11px;
		letter-spacing: normal;
		}

h4 a:hover {
	text-decoration: none;
	}

em {
	color: #000;
}

#search {
	background-color: #EFEFDE;
	padding-top: 30px;
	padding-left: 30px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;	
}
#sidebar {
	float: right;
	width: 339px;
	font-size: 11px;
	line-height: 20px;
	margin-bottom: 20px;
	padding: 10px;
}

#sidebar ul {
	list-style: none;
	margin-left: -20px;
	margin-top: -10px;
}

#sidebar img {
	vertical-align: middle;
}

#sidebar .exhibit {
	float: right;
}

#variables {
	padding: 20px;
}

.varheader {
	font-size: 14px;
	font-weight: normal;
	letter-spacing: .2em;	
}

#queries img {
	vertical-align: baseline;
	width:14px;
}

#queries {
	margin-left: 10px;
	color: #666;
}

#filters img {
	vertical-align: baseline;
	width:14px;
}

#filters {
	margin-left: 10px;
	color: #666;
}

.clear {
	padding: 10px 0 10px 0px;
	font-size: 11px;
}

.resultsheader {
	font-size: 14px;
	font-weight: normal;
	letter-spacing: .2em;
	margin-bottom: -20px;
}

#results {
	padding: 20px;
	margin-right: 380px;
}

.resultsPager {
	padding: 4px;
	margin-top: 30px;
	margin-bottom: 20px;
	border: 1px solid #A2C9EF;
	background-color: #E4F1FD;
}

.title {
	font-size: 13px;
	color: #000;
	letter-spacing: .1em;
}

.entry {
	color: #666;
}

.field {
	color: #999;
	font-style: italic;
}

.searchbar {
	padding: 1px;
}
