= block_with_caption(:bottom, :class=>'imageblock', :style=>style_value(text_align: (attr :align), float: (attr :float)))
  = html_tag_if(attr?(:link), :a, :class=>'image', :href=>(attr :link), :target=>(attr :window), :rel=>link_rel)
    img src=image_uri(attr :target) alt=(attr :alt) width=(attr :width) height=(attr :height)
