


#macro(nl2ul $named_list)
  <ul>
  #foreach($kv in $named_list)
    <li>$kv.key ($kv.value)
      #nl2ul($kv.value)
    </li>
  #end
  </ul>
#end

#macro(url_for_filters $filter_queries)
  /solr/itas?fq=$filter_queries
#end

#macro(url_for_home)/solr/itas#end

#macro(url_for_start $start)/solr/itas?start=$start&q=$!{esc.url($params.get('q'))}#end

## TODO: need to add escaping
#macro(url_for_nested_facet $field $value)/solr/itas?fq=$field:%22$value%22#end

#macro(link_to_previous_page $text)
  #if($page.current_page_number > 1)
    #set($prev_start = $page.start - $page.results_per_page)
    <a class="prev-page" href="#url_for_start($prev_start)">$text</a>
  #end
#end

#macro(link_to_next_page $text)
  #if($page.current_page_number < $page.page_count)
    #set($next_start = $page.start + $page.results_per_page)
    <a class="next-page" href="#url_for_start($next_start)">$text</a>
  #end
#end

#macro(link_to_page $page_number $text)
  #if($page_number == $page.current_page_number)
    $text
  #else
    #if($page_number <= $page.page_count)
      #set($page_start = $page_number * $page.results_per_page - $page.results_per_page)
      <a class="page" href="#url_for_start($page_start)">$text</a>
    #end
  #end
#end

#macro(param $key)$request.params.get($key)#end
