<!--
Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to You under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<div id="index" class="clearfix">
  <div class="clearfix">
    <div class="index-left">
      <div class="block" id="instance">
          <h2><span>Instance</span></h2>
          <div class="content">
            <ul class="data">
              <li class="start_time"><dl class="clearfix">
                <dt><span>Start</span></dt>
                  <dd class="timeAgo">{{system.jvm.jmx.startTime | timeAgo}}</dd>
              </dl></li>
           </ul>
          </div>
      </div>
      <div class="block" id="versions">
          <h2><span>Versions</span></h2>
          <div class="content">
            <ul class="data">
              <li class="solr solr_spec_version"><dl class="clearfix">
                <dt><span>solr-spec</span></dt>
                  <dd>{{system.lucene["solr-spec-version"]}}</dd>
              </dl></li>              
              <li class="solr_impl_version"><dl class="clearfix">
                <dt class=""><span>solr-impl</span></dt>
                  <dd>{{system.lucene["solr-impl-version"]}}</dd>
              </dl></li>
              
              <li class="lucene lucene_spec_version"><dl class="clearfix">
                <dt><span>lucene-spec</span></dt>
                  <dd>{{system.lucene["lucene-spec-version"]}}</dd>
              </dl></li>
              <li class="lucene_impl_version"><dl class="clearfix">            
                <dt><span>lucene-impl</span></dt>
                  <dd>{{system.lucene["lucene-impl-version"]}}</dd>
              </dl></li>            
            </ul>
          </div>
      </div>
    </div>
      
    <div class="index-right">
      <div class="block" id="system">
          <h2><span>System</span>
    <small class="bar-desc">{{system.system.load_average[0]}} {{system.system.load_average[1]}} {{system.system.load_average[2]}}</small>
    </h2>
          <a class="reload" (click)="refresh()"><span>reload</span></a>
          <div class="content">
            <div id="physical-memory-bar">
              <p data-desc="physical-memory-bar">Physical Memory
         <small class="bar-desc">{{system.system.memory.percentage}}</small>
        </p>
              <div class="bar-holder bar-lvl-2">
                <div class="bar-max bar">
                  <span class="bar-max val">{{system.system.memory.maxDisplay}}</span>
                  <div class="bar-total bar" [ngStyle]="{'width': system.system.memory.percentage}">
                    <span class="bar-total val" title="raw: {{system.system.memory.total}}B">{{system.system.memory.totalDisplay}}</span>
                  </div>
                </div>
              </div>
            </div>
            <div id="swap-space-bar" *ngIf="system.system.totalSwapSpaceSize && system.system.freeSwapSpaceSize">
              <p data-desc="swap-space-bar">Swap Space
          <small class="bar-desc">{{system.system.swap.percentage}}</small>
        </p>
              <div class="bar-holder bar-lvl-2">
                <div class="bar-max bar">
                  <span class="bar-max val">{{system.system.swap.maxDisplay}}</span>
                  <div class="bar-total bar" [ngStyle]="{'width': system.system.swap.percentage}">
                    <span class="bar-total val" title="raw: {{system.system.swap.total}}B">{{system.system.swap.totalDisplay}}</span>
                  </div>
                </div>
              </div>
            </div>
          <div id="file-descriptor-bar" ng-show="system.system.maxFileDescriptorCount && system.system.openFileDescriptorCount">
              <p data-desc="file-descriptor-bar">File Descriptor Count
          <small class="bar-desc">{{system.system.fileDescriptorPercentage}}</small>
        </p>
              <div class="bar-holder bar-lvl-2">
                <div class="bar-max bar">
                  <span class="bar-max val">{{system.system.maxFileDescriptorCount}}</span>
                  <div class="bar-total bar" [ngStyle]="{'width': system.system.fileDescriptorPercentage}">
                    <span class="bar-total val">{{system.system.openFileDescriptorCount}}</span>
                  </div>
                </div>
              </div>
            </div>
            <p class="no-info" *ngIf="system.system.noInfo">Sorry, no information available</p>
          </div>
      </div>
    </div>
  </div>
  <div class="clearfix">
    <div class="index-left">
      <div class="block" id="jvm">
          <h2><span>JVM</span></h2>
          <div class="content clearfix">
            <ul class="data">
              <li class="jvm_version"><dl class="clearfix">            
                <dt><span>Runtime</span></dt>
                  <dd>{{system.jvm.name}} {{system.jvm.version}}</dd>
              </dl></li>
              <li class="processors"><dl class="clearfix">            
                <dt><span>Processors</span></dt>
                  <dd>{{system.jvm.processors}}</dd>
              </dl></li>
              <li class="command_line_args"><dl class="clearfix">
                <dt><span>Args</span></dt>
                <dd *ngFor="let arg of system.jvm.jmx.commandLineArgs; let odd = odd" [ngClass]="{'odd':odd}">{{arg}}</dd>
              </dl></li>
            
            </ul>
          </div>
      </div>
    </div>
    <div class="index-right">
      <div class="block" id="jvm-memory">
          <h2><span data-desc="jvm-memory-bar">JVM-Memory
       <small class="bar-desc">{{system.system.jvmMemoryPercentage}}</small>
    </span></h2>
          <div class="content">
            <div id="jvm-memory-bar">
              <div class="bar-holder bar-lvl-3">
                <div class="bar-max bar">
                  <span class="bar-max val" title="raw: {{system.system.jvmTotal.max}}B">{{system.system.jvmTotal.maxDisplay}}</span>
                  <div class="bar-total bar" [ngStyle]="{'width': system.system.jvmTotal.percentage}">
                    <span class="bar-total val" title="raw: {{system.system.jvmTotal.total}}B">{{system.system.jvmTotal.totalDisplay}}</span>
                    <div class="bar-used bar" [ngStyle]="{'width': system.system.jvmUsed.percentage}">
                      <span class="bar-used val" title="raw: {{system.system.jvmUsed.total}}B">{{system.system.jvmUsed.totalDisplay}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
