#**
 *  Show Error Message, if any
 *#

## Show Error Message, if any
## Usually rendered inside div class=error

#if( $response.response.error.code )
  <h1>ERROR $response.response.error.code</h1>
  $response.response.error.msg
#end
