<div id="facet_$field.name">
  <span class="facet-field">$resource.facet.top_phrases</span><br/>

  <ul id="tagcloud">
    #foreach($facet in $sort.sort($field.values,"name"))
    <li data-weight="$math.mul($facet.count,1)">
      <a href="#url_for_facet_filter($field.name, $facet.name)">$facet.name</a>
    </li>

    #end
  </ul>
</div>