<hr/>

<div>

  <div id="admin"><a href="#url_root/index.html#/#{core_name}">Solr Admin</a></div>

  <a href="#" onclick='jQuery(".debug").toggle(); return false;'>toggle debug mode</a>
  <a href="#url_for_lens&wt=xml#if($debug)&debug=true#end">XML results</a> ## TODO: Add links for other formats, maybe dynamically?

</div>

<div>
  <a href="http://lucene.apache.org/solr">Solr Home Page</a>
</div>


<div class="debug">
  <hr/>
  Request:
  <pre>
    $esc.html($request)
  </pre>

  <hr/>
  Debug:
  <pre>
    $esc.html($response.response.debug)
  </pre>
</div>