<title>Solr browse: #core_name</title>

<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

<link rel="icon" type="image/x-icon" href="#{url_root}/img/favicon.ico"/>
<link rel="shortcut icon" type="image/x-icon" href="#{url_root}/img/favicon.ico"/>

<script type="text/javascript" src="#{url_root}/libs/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="#{url_for_solr}/admin/file?file=/velocity/js/jquery.tx3-tag-cloud.js&contentType=text/javascript"></script>
<script type="text/javascript" src="#{url_for_solr}/admin/file?file=/velocity/js/dropit.js&contentType=text/javascript"></script>
<script type="text/javascript" src="#{url_for_solr}/admin/file?file=/velocity/js/jquery.autocomplete.js&contentType=text/javascript"></script>

<script type="text/javascript">
  $(document).ready(function() {

    $("#tagcloud").tx3TagCloud({
      multiplier: 1
    });

    $('.menu').dropit();

    $( document ).ajaxComplete(function() {
      $("#tagcloud").tx3TagCloud({
        multiplier: 5
      });
    });

    $('\#q').keyup(function() {
      $('#browse_results').load('#{url_for_home}?#lensNoQ&v.layout.enabled=false&v.template=results&q='+encodeURI($('\#q').val()));

      $("\#q").autocomplete('#{url_for_solr}/suggest', {
        extraParams: {
          'suggest.q': function() { return $("\#q").val();},
          'suggest.build': 'true',
          'wt': 'json',
        }
      }).keydown(function(e) {
        if (e.keyCode === 13){
          $("#query-form").trigger('submit');
        }
      });
    });

  });
</script>

<style>

  html {
    background-color: #F0F8FF;
  }

  body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10pt;
  }

  #header {
    width: 100%;
    font-size: 20pt;
  }

  #header2 {
    margin-left:1200px;
  }

  #logo {
    width: 115px;
    margin: 0px 0px 0px 0px;
    border-style: none;
  }

  a {
    color: #305CB3;
  }

  a.hidden {
    display:none;
  }

  em {
    color: #FF833D;
  }

  .error {
    color: white;
    background-color: red;
    left: 210px;
    width:80%;
    position: relative;
  }

  .debug { display: none; font-size: 10pt}
  #debug_query {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10pt;
    font-weight: bold;
  }
  #parsed_query {
    font-family: Courier, Courier New, monospaced;
    font-size: 10pt;
    font-weight: normal;
  }

  #admin {
    text-align: right;
    vertical-align: top;
  }

  #query-form {
    width: 90%;
  }

  #query-box {
    padding: 5px;
    margin: 5px;
    font-weight: normal;
    font-size: 24px;
    letter-spacing: 0.08em;
  }
  #constraints {
    margin: 10px;
  }

  #tabs {  }
  #tabs li { display: inline; font-size: 10px;}
  #tabs li a { border-radius: 20px; border: 2px solid #C1CDCD; padding: 10px;color: #42454a; background-color: #dedbde;}
  #tabs li a:hover { background-color: #f1f0ee; }
  #tabs li a.selected { color: #000; background-color: #f1f0ee; font-weight: bold; padding: 5px }
  #tabs li a.no_results { color: #000; background-color: #838B8B; font-style: italic; padding: 5px; pointer-events: none;
  cursor: default; text-decoration: none;}

  .pagination {
    width: 305px;
    border-radius: 25px;
    border: 2px solid #C1CDCD;
    padding: 20px;
    padding-left: 10%;
    background: #eee;
    margin-left: 190px;
    margin-top : 42px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align:left;
  }

  #results_list { width: 70%; }
  .result-document {
    border-radius: 25px;
    border: 2px solid #C1CDCD;
    padding: 10px;
//    width: 800px;
//    height: 120px;
    margin: 5px;
//    margin-left: 60px;
//    margin-right: 210px;
//    margin-bottom: 15px;
    transition: 1s ease;
  }
  .result-document:hover
  {
    webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 1s ease;
  }
  .result-document div {
    padding: 5px;
  }
  .result-title {
    width:60%;
  }
  .result-body {
    background: #ddd;
  }
  .result-document:nth-child(2n+1) {
    background-color: #FFFFFD;
  }

  #facets {
    margin: 5px;
    margin-top: 0px;
    padding: 5px;
    top: -20px;
    position: relative;
    float: right;
    width: 25%;
  }
  .facet-field {
    font-weight: bold;
  }
  #facets ul {
    list-style: none;
    margin: 0;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 10px;
  }
  #facets ul li {
    color: #999;
    padding: 2px;
  }

  div.facet_field {
    clear: left;
  }

  ul.tx3-tag-cloud { }
  ul.tx3-tag-cloud li {
    display: block;
    float: left;
    list-style: none;
    margin-right: 4px;
  }
  ul.tx3-tag-cloud li a {
    display: block;
    text-decoration: none;
    color: #c9c9c9;
    padding: 3px 10px;
  }
  ul.tx3-tag-cloud li a:hover {
    color: #000000;
    -webkit-transition: color 250ms linear;
    -moz-transition: color 250ms linear;
    -o-transition: color 250ms linear;
    -ms-transition: color 250ms linear;
    transition: color 250ms linear;
  }

  .dropit {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .dropit .dropit-trigger { position: relative; }
  .dropit .dropit-submenu {
    position: absolute;
    top: 100%;
    left: 0; /* dropdown left or right */
    z-index: 1000;
    display: none;
    min-width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .dropit .dropit-open .dropit-submenu { display: block; }


  <!--autocomplete css-->
  .ac_results {
    padding: 0px;
    border: 1px solid black;
    background-color: white;
    overflow: hidden;
    z-index: 99999;
  }

  .ac_results ul {
    width: 100%;
    list-style-position: outside;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .ac_results li {
    margin: 0px;
    padding: 2px 5px;
    cursor: default;
    display: block;
    font: menu;
    font-size: 12px;
    line-height: 16px;
    overflow: hidden;
  }

  .ac_loading {
//    background: white url('˜indicator.gif') right center no-repeat;
  }

  .ac_odd {
    background-color: #eee;
  }

  .ac_over {
    background-color: #0A246A;
    color: white;
  }
</style>
