<html>
  <head>
    <title>Flare: <%=controller.action_name%></title>
    <%= javascript_include_tag :defaults %>
    <%= stylesheet_link_tag 'flare'%>
  </head>
  <body>
    <%= yield %>
  </body>
</html>