<h2 mat-dialog-title>Solr/Lucene Versions</h2>
<mat-dialog-content>
  <table mat-table>
    <tr>
      <td>solr-spec:</td>
      <td>{{data?.lucene['solr-spec-version']}}</td>
    </tr>
    <tr>
      <td>solr-impl:</td>
      <td>{{data?.lucene['solr-impl-version']}}</td>
    </tr>
    <tr>
      <td>lucene-spec:</td>
      <td>{{data?.lucene['lucene-spec-version']}}</td>
    </tr>
    <tr>
      <td>lucene-impl:</td>
      <td>{{data?.lucene['lucene-impl-version']}}</td>
    </tr>
  </table>
</mat-dialog-content>
