h2, .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
.thread-system-time {
    margin-right: 8px;
}
.thread-dump-name {
  padding-top: 12px;
}
.thread-dump-panel {
  margin: 8px;
  width: 80%;
}