<footer>
            <div class="row">
                <div class="col-lg-12 footer">
               &copy;{{ site.solr-attributes.build-year }} {{site.company_name}}. All rights reserved. <br />
{% if page.last_updated %}<p>Page last updated:</span> {{page.last_updated}}<br/>{% endif %} Site Version: {{ site.solr-attributes.solr-guide-version }} <br />Site last generated: {{ site.solr-attributes.build-date }} <br />
<p><img src="{{ "images/solr-sunOnly-small.png" }}" alt="Apache Solr"/></p>
                </div>
            </div>
</footer>
