/*

Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to You under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

*/

#content #files #tree-holder
{
  float: left;
  width: 20%;
}

#content #files #new-file-holder
{
  margin-top: 20px;
  padding-bottom: 10px;
}

#content #files #new-file-holder button span
{
  background-image: url( ../../img/ico/plus-button.png );
}

#content #files #new-file-holder form
{
  box-shadow: 5px 5px 10px #c0c0c0;
  -moz-box-shadow: 5px 5px 10px #c0c0c0;
  -webkit-box-shadow: 5px 5px 10px #c0c0c0;
  display: none;
  padding: 10px;
}

#content #files #new-file-holder form input
{
  margin-bottom: 3px;
  width: 98%;
}

#content #files #new-file-holder .note
{
  color: #c0c0c0;
  margin-bottom: 5px;
}

#content #files form .buttons button
{
  float: right;
}

#content #files #file-content
{
  display: none;
  float: right;
  position: relative;
  width: 78%;
  min-height: 100px
}

#content #files .show #file-content
{
  display: block;
}

#content #files #new-file-note
{
  background-color: #ffa662;
  background-image: url( ../../img/ico/exclamation-button.png );
  background-position: 10px 50%;
  display: none;
  margin-bottom: 10px;
  padding: 10px;
  padding-left: 31px;
}

#content #files #file-content textarea
{
  display: block;
  height: 500px;
  margin-bottom: 10px;
  width: 99%;
}

#content #files #file-content button span
{
  background-image: url( ../../img/ico/disk-black.png );
}

#content #files #file-content form.upload
{
  border-top: 1px solid #c0c0c0;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#content #files #file-content .upload input
{
  border: 0;
  float: left;
}

#content #files #file-content .upload button span
{
  background-image: url( ../../img/ico/drive-upload.png );
}