#content #plugins #navigation
{
  width: 20%;
}

#content #plugins #navigation .cache a { background-image: url( ../../img/ico/disk-black.png ); }
#content #plugins #navigation .core a { background-image: url( ../../img/ico/wooden-box.png ); }
#content #plugins #navigation .other a { background-image: url( ../../img/ico/zone.png ); }
#content #plugins #navigation .highlighting a { background-image: url( ../../img/ico/highlighter-text.png ); }
#content #plugins #navigation .updatehandler a{ background-image: url( ../../img/ico/arrow-circle.png ); }
#content #plugins #navigation .queryhandler a { background-image: url( ../../img/ico/magnifier.png ); }

#content #plugins #frame
{
  float: right;
  width: 78%;
}

#content #plugins #frame .entry
{
  margin-bottom: 10px;
}

#content #plugins #frame .entry:last-child
{
  margin-bottom: 0;
}

#content #plugins #frame .entry a
{
  background-image: url( ../../img/ico/chevron-small-expand.png );
  background-position: 0 50%;
  display: block;
  font-weight: bold;
  padding-left: 21px;
}

#content #plugins #frame .entry.expanded a
{
  background-image: url( ../../img/ico/chevron-small.png );
}

#content #plugins #frame .entry.expanded ul
{
  display: block;
}

#content #plugins #frame .entry ul
{
  border-left: 9px solid #f0f3ff;
  display: none;
  margin-left: 3px;
  padding-top: 5px;
  padding-left: 10px;
}

#content #plugins #frame .entry li
{
  padding-top: 2px;
  padding-bottom: 2px;
}

#content #plugins #frame .entry li.stats
{
  border-top: 1px solid #c0c0c0;
  margin-top: 5px;
  padding-top: 5px;
}

#content #plugins #frame .entry li.odd
{
  background-color: #f8f8f8;
}

#content #plugins #frame .entry dt,
#content #plugins #frame .entry .stats span
{
  float: left;
  width: 11%;
}

#content #plugins #frame .entry dd,
#content #plugins #frame .entry .stats ul
{
  float: right;
  width: 88%;
}

#content #plugins #frame .entry .stats ul
{
  border-left: 0;
  margin: 0;
  padding: 0;
}

#content #plugins #frame .entry .stats dt
{
  width: 27%;
}

#content #plugins #frame .entry .stats dd
{
  width: 72%;
}