@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$md-savantly: (
    50 : #e5edf1,
    100 : #bdd1dd,
    200 : #91b3c7,
    300 : #6595b0,
    400 : #447e9f,
    500 : #23678e,
    600 : #1f5f86,
    700 : #1a547b,
    800 : #154a71,
    900 : #0c395f,
    A100 : #93c8ff,
    A200 : #60aeff,
    A400 : #2d95ff,
    A700 : #1488ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);



// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$savantly-app-primary: mat-palette($md-savantly);
$savantly-app-accent:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$savantly-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$savantly-app-theme: mat-light-theme($savantly-app-primary, $savantly-app-accent, $savantly-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($savantly-app-theme);