*.iml

/bin/*.pid

/contrib/dataimporthandler/test-lib/

/core/test-lib/

/example/start.jar
/example/webapps/*
/example/logs/*.log
/example/**/data
/example/solr/lib
/example/solr/logs
/example/solr/zoo_data
/example/work/*
/example/exampledocs/post.jar
/example/example-DIH/**/data
/example/example-DIH/**/dataimport.properties
/example/example-DIH/solr/mail/lib/*.jar

/package

/server/logs/
/server/solr/zoo_data/
/server/solr/userfiles/
/server/solr-webapp
/server/start.jar

*.out
*.err
