# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Handles all files not treated particularly below
*          text=auto


# -nix specific
bin/solr        text eol=lf
bin/init.d/solr text eol=lf
bin/post        text eol=lf
*.bash     text eol=lf
*.sh       text eol=lf

# Windows specific
*.bat      text eol=crlf
*.cmd      text eol=crlf
*.ps1      text eol=crlf

# Graphics - no eol normalization
*.png      binary
*.jpg      binary
*.jpeg     binary
*.gif      binary
*.tif      binary
*.tiff     binary
*.ico      binary
*.svg      binary
*.eps      binary

# Other files to ignore from eol normalization
licenses/*      -text
solr-ref-guide/src/fonts/Inconsolata/OFL.txt  -text
