<div id="cluster-suggestions">
    <h1>Suggestions</h1>
    <br/>
    <p ng-if="parsedData.length==0">No Suggestions</p>
    <table id="s-table" ng-if="parsedData.length>0">
        <tr>
            <td>Type</td>
            <td>Reason</td>
            <td>Action</td>
        </tr>
        <tr ng-repeat="x in parsedData">
            <td>{{ x.type }}</td>
            <td>{{ x.violation.clause }}</td>
            <td>
                <div class="s-container">
                    <input class="s-box1" ng-hide="x.run" type="button"
                           title="{{ x.operation }}" ng-click="postdata(x)" ng-mouseover="showPopover()"
                           ng-mouseleave="hidePopover()"/>
                    <div class="s-box2" ng-show="x.loading"><img src="img/loader.gif"></div>
                    <div class="s-box3" ng-show="x.done"><img src="img/ico/tick.png"></div>
                    <div class="s-box4" ng-show="x.failed"><img src="img/ico/cross.png"></div>
                </div>
            </td>
        </tr>
    </table>

</div>
