<!--
Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to You under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<div id="sqlquery" class="clearfix">

  <div id="form">
    <form>
      <label for="sqlexpr" title="The SQL expression string">
        SQL Query (expr)
      </label>
      <textarea name="stmt" ng-model="stmt" id="sqlexp" title="The sql expression string.">search(....)</textarea>
      <button type="submit" ng-click="doQuery()">Execute</button>
    </form>
  </div>
  <div id="sql-response">
    <a ng-show="sqlData" id="url" class="address-bar" ng-href="{{url}}">{{hostPortContext}}{{url}}</a>
    <div ng-show="sqlError"> {{sqlError}}</div>
    <div ng-show="!sqlError" class="grid" ui-grid="gridOptions" id="sql-response"></div>

  </div>


  <!-- <pre class="syntax language-json">
      <code ng-bind-html="response.data | highlight:json | unsafe"></code>
  </pre> -->



</div>
