#set($iterator=$rawResponse.getResultIterator())
#set($request=$rawResponse.request)
#set($core=$request.core)
#set($schema=$core.schema)

<html>
  <title>Default VelocityResponseWriter Response</title>
  <body>
  
    <p>
      A default response using only the raw solr response. The "rawResponse" object is a helper that provides access to the
      SolrQueryRequest, SolrQueryResponse, as well as convenience methods like getResultIterator() and getRequestParam()
    </p>
    <p>
      If you want to use an instance of SolrResponse of solrj inside a template, use eg. vl.response=QueryResponse. 
      This object then is avalaible as "response" in the context.
    </p>
    <hr/>
  
    #foreach($document in $iterator)
        #foreach($field in $document.getFieldNames())
          <p>$field: $document.getFieldValue($field)</p>
        #end
    <hr/>
    #end

    <pre>
      header = $rawResponse.$response.responseHeader

      values = $rawResponse.$response.values

      request = $request

      core = $core

      schema = $schema
    </pre>

  </body>
</html>
